@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.header {
  a:first-child {
    border-right: 1px solid #000;
    margin-right: 5px;
    padding-right: 5px;
  }
}

.logo {
  color: #000;
  font-size: 1.15rem;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}